<div class="d-flex flex-column p-3 text-white bg-dark">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="{{ path('mydata') }}" class="nav-link text-white">My Data</a>
        </li>
        <li>
            <a href="{{ path('list_persons') }}" class="nav-link text-white">LIST PERSONS</a>
        </li>
        <li>
            <a href="{{ path('search') }}" class="nav-link text-white">Search</a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path('app_logout') }}" class="nav-link text-white">Logout</a>
        </li>
    </ul>
</div>